{#
  About Me — Node 78
#}

{{ attach_library('custom_bootstrap_sass/about-me') }}
{{ attach_library('custom_bootstrap_sass/fontawesome') }}

{{ page_top }}

<main class="about-page" id="main-content">
  {{ content }}
</main>

{{ page_bottom }}
